apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-deployment
  namespace: ivolve
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - name: todo-container
          image: todo-app:1.0
          imagePullPolicy: Never
          ports:
            - containerPort: 3000

