- name: Install Docker
  yum:
    name: docker
    state: present
  become: true

- name: Start Docker
  service:
    name: docker
    state: started
    enabled: true
  become: true

- name: Add ec2-user to docker group
  user:
    name: ec2-user
    groups: docker
    append: yes
  become: true
